.quiz-container {
  width: 80%;
  max-width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template: auto / auto;
}

.quiz-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 450px) {
  .quiz-container {
    position: static;
    transform: none;
    margin: auto;
  }
}
